[Unit]
{% if _item.description %}Description = {{ _item.description }}
{% endif -%}
{% if _item.part_of %}PartOf = {{ _item.part_of }}
{% endif %}

[Service]
{% if _item.type  %}Type  = {{ _item.type  }}
{% endif -%}
{% if _item.bus_name  %}BusName  = {{ _item.bus_name  }}
{% endif -%}
{% if _item.user  %}User  = {{ _item.user  }}
{% endif -%}
{% if _item.group %}Group = {{ _item.group }}
{% endif -%}
{% if _item.environments %}
{% for value in _item.environments %}
Environment = {{ value }}
{% endfor %}
{% endif -%}
{% if _item.exec_start %}ExecStart = {{ _item.exec_start }}
{% endif %}

[Install]
{% if _item.wanted_by %}WantedBy = {{ _item.wanted_by }}
{% endif %}
