[Unit]
{% if _item.description %}Description = {{ item.description }}{% endif %}
{% if _item.part_of %}PartOf = {{ item.part_of }}{% endif %}


[Service]
{% if _item.type  %}Type  = {{ item.type  }}{% endif %}
{% if _item.bus_name  %}BusName  = {{ item.bus_name  }}{% endif %}
{% if _item.user  %}User  = {{ item.user  }}{% endif %}
{% if _item.group %}Group = {{ item.group }}{% endif %}
{% for value in _item.environments %}
Environment = {{ value }}
{% endfor %}
{% if _item.exec_start %}ExecStart = {{ item.exec_start }}{% endif %}
